<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments :: head('FaceFut - Cadastro')">

    </head>

    <body>
        <section class="col-md-6 col-md-offset-3 login-block">
            <article class="panel panel-default cadastro-panel">

                <article class="login-panel-head panel-heading" style="background-color: rgba(255, 255, 255, 0.4);">
                    <h3>Cadastro</h3>
                </article>

                <article class="panel-body login-panel-body">

                    <form th:action="@{/cadastroForm}" id="upload-file-form" th:object="${usuario}" method="post" enctype="multipart/form-data">

                        <article th:classappend="${#fields.hasErrors('nome')} ? has-error" class="form-group" >

                            <input class="form-control" type="text" th:field="*{nome}" placeholder="Nome completo" required="required"/>
                            <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="help-block"></span>

                        </article>

                        <article class="form-group">
                            <input class="form-control" type="email" th:field="*{email}" placeholder="Email" required="required"/>
                        </article>

                        <article class="form-group">

                            <select class="form-control" th:field="*{time}" required="required">

                                <option th:each="time :${times}" th:value="${time.id}" th:text="${time.nome}">
                                </option>

                            </select>

                        </article>

                        <article class="form-group">
                            <label for="upload-file-input">Faça upload de sua imagem de perfil: </label>
                            <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
                        </article>

                        <article class="form-group">
                            <input class="form-control" type="password" th:field="*{senha}" placeholder="Senha" required="required"/>
                        </article>

                        <div class="alert alert-success" th:if="${msg}">
                            <strong>Ok!</strong> <span th:text="${msg}"></span>
                            <a th:href="@{/login}"> Fazer login</a>
                        </div>

                        <article class="form-group">
                            <button id="btn-submit" name="button" class="btn btn-primary">Cadastrar</button>
                        </article>
                    </form>
                </article>
            </article>
        </section>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script th:src="@{/js/cadastro.js}"></script>
        
        <script>
            
        </script>
    </body>
</html>
