<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <link rel="stylesheet" href="http://bootswatch.com/cosmo/bootstrap.min.css" media="screen" title="no title"/>
        <link rel="stylesheet" href="@{/static/css/estilo.css}" media="screen" title="no title"/>
    </head>
    <body>
        <section class="col-md-6 col-md-offset-3 login-block">
            <article class="panel panel-default cadastro-panel">

                <article class="login-panel-head panel-heading" style="background-color: rgba(255, 255, 255, 0.4);">
                    <h3>Cadastro</h3>
                </article>

                <article class="panel-body login-panel-body">

                    <form action="#" th:action="@{/cadastro}" th:object="${usuario}" method="POST">
                        
                        <article class="form-group">
                            <input class="form-control" type="text" th:field="*{nome}" placeholder="Nome completo"/>
                        </article>

                        <article class="form-group">
                            <input class="form-control" type="text" th:field="*{email}" placeholder="Email"/>
                        </article>

                        <article class="form-group">

                            <select class="form-control" th:field="*{time}">
                                <option value="1">Internacional</option>
                                <option value="2">Grêmio</option>
                                <option value="3">Brasil de Pelotas</option>
                            </select>

                        </article>

                        <article class="form-group">
                            <input class="form-control" type="text" th:field="*{senha}" placeholder="Senha"/>
                        </article>

                        <article class="form-group">
                            <button type="submit" name="button" class="btn btn-success">Entrar</button>
                        </article>
                    </form>
                    
                </article>
            </article>
        </section>
    </body>
</html>
