<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments :: head('FaceFut - Home')">

    </head>
    <body>
        <nav th:replace="fragments :: navbar">

        </nav>
        <div class="divisor"></div>

        <section class="container-fluid">
            <section class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Solicitações de amizade</div>
                    <div class="panel-body">
                        <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/d/de/Facebook_head.png"
                             style="width: 100px; height: 100px;" alt="" />
                        <h3 value="OPA"></h3>
                        <button type="button" class="btn btn-success" name="button">Aceitar</button>
                        <button type="button" class="btn btn-danger" name="button">Reprovar</button>
                    </div>
                </div>
            </section>
            <section class="col-md-5">
                <article class="panel panel-default">
                    <section class="panel-body">

                        <form th:action="@{/postar}" th:object="${post}" method="POST">
                            <!--<input type="hidden" th:field="*{autor}" th:value="${usuario.email}"/>-->
                            <article class="form-group">
                                <textarea th:field="*{texto}" class="form-control post-campo" rows="3" cols="40" placeholder="No que você está pensando?"></textarea>
                            </article>
                            <button class="btn btn-success pull-right" type="sumit" name="button">Publicar</button>

                        </form>

                    </section>
                </article>

                <div class="panel panel-default">
                    <div class="panel-heading">Posts</div>

                    <div th:each="post :${posts}" class="panel-body" style="padding-right: 0px;">

                        <article class="col-md-2" style="padding-right: 0px;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Facebook_head.png" style="width: 40px; height: 40px;"/>
                        </article>
                        <article class="col-md-10" style="padding-left: 0px;">
                            <strong><p style="margin: 0px;" th:text="${post.autor}">Autor</p></strong>
                            <p class="post-data" th:text="${#dates.format(post.data, 'dd/MM/yyyy hh:mm')}">Data</p>
                            <p th:text="${post.texto}">Texto</p>
                        </article>

                    </div>
                </div>

            </section>
            <aside class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Pesquisar amigos</div>
                    <div class="panel-body">
                        
                        <!---->
                        <form  th:action="@{/pesquisar}" th:object="${amigo}" method="POST">
                            <article class="form-group">         <!---->
                                <input type="text" class="form-control" th:field="*{nome}" placeholder="Pesquise aqui"/>
                            </article>
                            <button class="btn btn-primary pull-right" type="submit" name="button">Pesquisar</button>
                        </form>
                        
                        <div th:each="amigo :${amigosFiltrados}" class="panel-body col-md-12" style="padding-right: 0px;">

                            <article class="col-md-2" style="padding: 0px;">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Facebook_head.png" style="width: 40px; height: 40px;"/>
                            </article>
                            <article class="col-md-10" style="padding-left: 0px;">
                                <div>
                                    Nome: <strong><spam style="margin: 0px;" th:text="${amigo.nome}">Autor</spam></strong>
                                </div>
                                <div>
                                    Email: <strong><spam style="margin: 0px;" th:text="${amigo.email}">Email</spam></strong>
                                </div>
                                <div>
                                    Time: <strong><spam th:text="${amigo.time.nome}">Time</spam></strong>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </aside>

        </section>
    </body>
</html>
