<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="fragments :: head('FaceFut - Home')">

    </head>
    <body>
        <nav th:replace="fragments :: navbar">

        </nav>
        <div class="divisor"></div>

        <section class="container-fluid">
            <section class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">Solicitações de amizade</div>
                    <div class="panel-body">
                       
                        <article>
                            <div th:each="convite :${convites}" class="panel-body col-md-12">

                                <article class="col-md-2" style="padding: 0px;">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Facebook_head.png" style="width: 40px; height: 40px;"/>
                                </article>
                                <article class="col-md-10" style="padding-left: 15px;">
                                    <div>
                                        Email: <strong><spam th:text="${convite.remetente}">Remetente</spam></strong>
                                    </div>
                                    <div>
                                        Data: <strong><spam th:text="${#dates.format(convite.data, 'dd/MM/yyyy hh:mm')}">Data</spam></strong>
                                    </div>
                                    <button type="button" class="btn btn-success" name="button">Aceitar</button>
                                    <button type="button" class="btn btn-danger" name="button">Reprovar</button>
                                </article>
                            </div>
                        </article>
                        
                        
                    </div>
                </div>
            </section>
            <section class="col-md-5">
                <article class="panel panel-default">
                    <section class="panel-body">

                        <form th:action="@{/postar}" th:object="${post}" method="POST">
                            <!--<input type="hidden" th:field="*{autor}" th:value="${usuario.email}"/>-->
                            <article class="form-group">
                                <textarea required="required" th:field="*{texto}" class="form-control post-campo" rows="3" cols="40" placeholder="No que você está pensando?"></textarea>
                            </article>
                            <button class="btn btn-success pull-right" type="sumit" name="button">Publicar</button>

                        </form>

                    </section>
                </article>

                <div class="panel panel-default">
                    <div class="panel-heading">Posts</div>

                    <div th:each="post :${posts}" class="panel-body" style="padding-right: 0px;">

                        <article class="col-md-2" style="padding-right: 0px;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Facebook_head.png" style="width: 40px; height: 40px;"/>
                        </article>
                        <article class="col-md-10" style="padding-left: 0px;">
                            <strong><p style="margin: 0px;" th:text="${post.autor}">Autor</p></strong>
                            <p class="post-data" th:text="${#dates.format(post.data, 'dd/MM/yyyy hh:mm')}">Data</p>
                            <p th:text="${post.texto}">Texto</p>
                        </article>

                    </div>
                </div>

            </section>
            <aside class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Pesquisar amigos</div>
                    <div class="panel-body">

                        <!---->
                        <form  th:action="@{/pesquisar}" th:object="${amigo}" method="POST">
                            <article class="form-group">         <!---->
                                <input required="required" type="text" class="form-control" th:field="*{nome}" placeholder="Pesquise aqui"/>
                            </article>
                            <button class="btn btn-primary pull-right" type="submit" name="button">Pesquisar</button>

                            <a class="btn btn-info btn-amigo-refresh pull-right" th:href="@{/listAll}" name="button">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </a>

                            <div class="alert alert-info amigo-busca amigo-alert-basic" th:if="${msg}">
                                <strong><span th:text="${msg}"></span> resultado(s) encontrados</strong>
                            </div>
                            <div class="alert alert-warning amigo-busca" th:if="${acheiNada}">
                                <strong><span th:text="${acheiNada}"></span> resultado(s) encontrados</strong>
                            </div>

                        </form>
                        <article th:if="${amigos}">
                            <div th:each="amigo :${amigos}" class="panel-body col-md-12" style="padding-right: 0px;">

                                <article class="col-md-2" style="padding: 0px;">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Facebook_head.png" style="width: 40px; height: 40px;"/>
                                </article>
                                <article class="col-md-10" style="padding-left: 0px;">
                                    <div>
                                        Nome: <strong><spam style="margin: 0px;" th:text="${amigo.nome}">Autor</spam></strong>
                                    </div>
                                    <div>
                                        Email: <strong><spam style="margin: 0px;" th:text="${amigo.email}">Email</spam></strong>
                                    </div>
                                    <div>
                                        Time: <strong><spam th:text="${amigo.time.nome}">Time</spam></strong>
                                    </div>
                                    <a th:href="@{${'/home'}(id=${amigo.id})}" class="btn btn-success btn-adicionar">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        Adicionar amigo
                                    </a>
                                </article>
                            </div>
                        </article>
                    </div>
                </div>
            </aside>

        </section>
    </body>
</html>
