<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments :: head('FaceFut - Login')">

    </head>

    <body>

        <section class="col-md-6 col-md-offset-3 facefut-logo-block">
            <h1 class="facefut-logo">FaceFut.com</h1>
        </section>

        <section class="col-md-6 col-md-offset-3 login-block">
            <article class="panel panel-default login-panel">

                <article class="login-panel-head panel-heading" style="background-color: rgba(255, 255, 255, 0.4);">
                    <h3>Vamos lá!</h3>
                </article>

                <article class="panel-body login-panel-body">
                    
                    <div class="alert alert-danger" th:if="${param.error}">
                        Opa amigão, usuário ou senha incorreto!
                        <strong th:text="${param.error[0]}"></strong>
                    </div>
                    <form th:action="@{/login}" method="POST">    

                        <article class="form-group">
                            <input class="form-control" type="email" name="username" placeholder="Email" required="required"/>
                        </article>

                        <article class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Senha" required="required"/>
                        </article>
                            <button type="submit" name="button" class="btn btn-success">Entrar</button>
                        <article class="pull-right">
                            <a class="btn btn-info" th:href="@{/cadastro}">Não possuo uma conta</a>
                        </article>

                    </form>
                </article>
            </article>
        </section>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
        <script th:src="@{/js/pesquisa.js}"></script>
    </body>
</html>