
<div class="alert alert-info amigo-busca amigo-alert-basic" th:if="${amigos.size()} > 0">
    <strong><span th:text="${amigos.size()}"></span> resultado(s) encontrados</strong>
</div>

<div class="alert alert-warning amigo-busca" th:if="${amigos.size()} == 0">
    <strong><span th:text="${amigos.size()}"></span> resultado(s) encontrados</strong>
</div>

<article th:if="${amigos}">
    <div th:each="amigo :${amigos}" class="panel-body col-md-12" style="padding-right: 0px;">

        <article class="col-md-2" style="padding: 0px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Facebook_head.png" style="width: 40px; height: 40px;"/>
        </article>
        <article class="col-md-10" style="padding-left: 0px;">
            <div>
                Nome: <strong><spam style="margin: 0px;" th:text="${amigo.nome}">Autor</spam></strong>
            </div>
            <div>
                Email: <strong><spam style="margin: 0px;" th:text="${amigo.email}">Email</spam></strong>
            </div>
            <div>
                Time: <strong><spam th:text="${amigo.time.nome}">Time</spam></strong>
            </div>
            <a th:href="@{${'/home'}(id=${amigo.id})}" class="btn btn-success btn-adicionar">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Adicionar amigo
            </a>
        </article>
    </div>
</article>