
<div class="alert alert-info amigo-busca amigo-alert-basic" th:if="${perfis.size()} > 0">
    <strong><span th:text="${perfis.size()}"></span> resultado(s) encontrado(s)</strong>
</div>

<div class="alert alert-warning amigo-busca" th:if="${perfis.size()} == 0">
    <strong><span th:text="${perfis.size()}"></span> resultado(s) encontrado(s)</strong>
</div>

<article th:if="${perfis}">
    <div th:each="perfil :${perfis}" class="panel-body col-md-12" style="padding-right: 0px;">

        <article class="col-md-2" style="padding: 0px;">
            <img class="perfil-img perfil-img-min" th:src="${perfil.imagemPerfil}"/>
        </article>
        <article class="col-md-10" style="padding-left: 0px;">
            <div>
                Nome: 
                <a class="link-style" th:href="@{${'/profile'}(id=${perfil.id})}">
                    <strong><spam style="margin: 0px;" th:text="${perfil.nome}">Autor</spam></strong>
                </a>
            </div>
            <div>
                Email: <strong><spam style="margin: 0px;" th:text="${perfil.email}">Email</spam></strong>
            </div>
            <div>
                Time: <strong><spam th:text="${perfil.time.nome}">Time</spam></strong>
            </div>  

            <a th:if="${not #lists.contains(perfisAmigosUsuario, perfil)} and ${ not #lists.contains(convitesEnviados, perfil.email)}" th:id="'btn-adicionar-'+${perfil.id}" th:href="'javascript:amigo.enviarConvite('+${perfil.id}+')'" class="btn btn-primary btn-adicionar">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Adicionar amigo
            </a>
            <a th:if="${#lists.contains(perfisAmigosUsuario, perfil)}" 
               th:href="'javascript:amigo.desfazerAmizade('+ ${perfil.id} +')'" class="btn btn-warning btn-adicionar">
                <i class="fa fa-user-times" aria-hidden="true"></i>
                Desfazer amizade
            </a>
            <a disabled="true" th:if="${#lists.contains(convitesEnviados, perfil.email)} and ${not #lists.contains(perfisAmigosUsuario, perfil)}" class="btn btn-success btn-adicionar">
                <i class="fa fa-check" aria-hidden="true"></i>
                Convite enviado
            </a>

        </article>
    </div>
</article>