<article class="panel-body" th:if="${posts.content.size()} == 0">
    <i>Nenhuma postagem feita no momento, posta algo aí ;)</i>
</article>

<section th:each="post :${posts}" class="panel-body post-content">

    <header class="col-md-12">
        <article class="col-md-2 post-autor-img">
            <img class="perfil-img perfil-img-min" th:src="${post.perfilAutor.imagemPerfil}"/>
        </article>

        <article class="col-md-10 post-autor-info">
            <a class="link-style" th:href="@{${'/profile'}(id=${post.perfilAutor.id})}">
                <strong><spam class="post-autor-nome" th:text="${post.perfilAutor.nome}">Autor</spam></strong>
            </a>
            <br/>

            <i class="fa fa-futbol-o" style="font-size: 12px; color: #ddd;"></i>
            <spam class="post-time" th:text="${post.perfilAutor.time.nome}">Time</spam>
            ·
            <spam class="post-data" 
                  th:text="${#dates.format(post.data, 'dd/MM/yyyy hh:mm')}">
                Data
            </spam>
        </article>
    </header>

    <article class="col-md-12">
        <p class="post-txt" th:text="${post.texto}">Post</p>
        <br/>
        <article th:if="${post.imagem}">
            <img class="img-responsive post-img" th:src="${post.imagem}"/>
        </article>
    </article>
    <article th:id="'reacao-content-'+${post.id}" class="col-md-12 post-content-reacoes">
        <a th:if="${not #lists.contains(post.reacao.perfisCurtidas, usuario.perfil)}" class="link-style" th:href="'javascript:postagem.curtir('+${post.id}+')'">
            <spam class="post-reacoes curtir">
                <strong>
                    <i class="fa fa-thumbs-o-up icon-curtir" aria-hidden="true"></i> Curtir ·
                    <spam th:id="'num-curtidas-'+${post.id}" th:text="${post.reacao.numCutidas}"></spam>
                </strong>
            </spam>    
        </a>
        <a th:if="${#lists.contains(post.reacao.perfisCurtidas, usuario.perfil)}" class="link-style btn-dislike" th:href="'javascript:postagem.descurtir('+${post.id}+')'">
            <strong>
                <spam class="post-reacoes descurtir">
                    <i class="fa fa-thumbs-up icon-descurtir" aria-hidden="true"></i> Descurtir·
                    <spam th:id="'num-curtidas-'+${post.id}" th:text="${post.reacao.numCutidas}"></spam>
                </spam>    
            </strong>
        </a>
        <!--<a class="link-style" href="#">
            <strong>
                <spam class="post-reacoes">
                    <i class="fa fa-heart icon-amar" aria-hidden="true" style="color:#F00;"></i> Adorei
                </spam>
            </strong>
        </a>-->
    </article>
</section>

<div class="col-md-5 col-sm-8 col-xs-8 centered">
    <a class="btn btn-info btn-load-more-posts"
       th:if="not ${posts.number eq posts.totalPages - 1} and not ${posts.content.size() eq 0}"
       th:id="'btn-load-more-posts-'+ ${posts.number}" 
       th:href="'javascript:postagem.carregarPosts('+ ${usuario.id} + ',' + ${posts.number+1} + ')'">
        
        <span>Mostrar mais posts</span>
    </a>
</div>

