<article th:if="${amigos.size()} == 0">
    <i>Nenhum amigo no momento.</i>
</article>

<article>
    <div th:each="amigo :${amigos}" class="panel-body col-md-12">

        <article class="col-md-2" style="padding: 0px;">
            <img class="perfil-img perfil-img-min" th:src="${amigo.perfil.imagemPerfil}"/>
        </article>
        <article class="col-md-10" style="padding-left: 20px;">
            <div>
                <strong><spam th:text="${amigo.perfil.nome}">Remetente</spam></strong>
            </div>
            <div>   
                <i class="fa fa-heart" style="font-size:14px;color:red"></i>
                <spam th:text="${amigo.perfil.time.nome}">Remetente</spam>
            </div>

        </article>
    </div>
</article>