<!DOCTYPE html>

<html>
    <head th:replace="fragments :: head('Facefut - ' +${usuario.perfil.nome})">

    </head>
    <body>
        <style>
            body{
                color: #eee;
            }
            header .post-autor-img {
                padding: 0;
                width: 10.3%;
            }
            .post-img {
                width: 571px;
            }
        </style>
        <nav th:replace="fragments :: navbar">

        </nav>

        <div class="divisor-perfil"></div>
        <!-- Id do usuario logado -->
        <input type="hidden" th:value="${usuario.id}" id="id-usuario" />

        <section class="container">
            <section class="col-md-10">
                <section class="block-perfil-heading" th:style="'background-image: url('+${usuario.perfil.capaPerfil}+');'">

                    <article id="content-btn-amizade" th:if=" not ${usuario eq usuarioLogado}" 
                             class="col-md-3 pull-right perfil-btn-amizade-content">
                        <!-- Btns amizade serão renderizados aqui-->
                    </article>

                </section>

                <nav>
                    <article class="perfil-tools-heading">
                        <img class="perfil-img perfil-img-lg" th:src="${usuario.perfil.imagemPerfil}"/>
                        <h3 th:text="${usuario.perfil.nome}"></h3>

                        <article style="padding-left: 155px;" class="hidden-xs">
                            <ul class="nav nav-pills">
                                <li role="presentation">
                                    <a href="#" class="link-style"><i class="fa fa-group"></i>
                                        <spam class="hidden-sm"> Amigos</spam>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="link-style"><i class="fa fa-envelope-o"></i> 
                                        <spam class="hidden-sm"> Convites</spam>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#" class="link-style"><i class="fa fa-commenting-o"></i> 
                                        <spam class="hidden-sm"> Posts</spam>
                                    </a>
                                </li>
                                <li role="presentation" class="pull-right">
                                    <a href="#" class="link-style"><i class="fa fa-cog" aria-hidden="true"></i> 
                                        <spam class="hidden-sm">Configurações</spam>
                                    </a>
                                </li>
                            </ul>
                        </article>
                    </article>
                </nav>
            </section>

            <section class="col-md-3 perfil-content">
                <section class="panel panel-default perfil-apresentacao">
                    <header class="panel-heading">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        Apresentação
                    </header>
                    <section class="panel-body">
                        <article class="apresentacao-itens">
                            <spam id="spam-num-amigos" class="badge icon" th:text="${usuario.amigos.size()}"></spam> 
                            Amigos
                        </article>
                        <article class="apresentacao-itens">
                            <!--<i class="fa fa-heart icon icon-time"></i> -->
                            <img class="icon-club-med" th:src="${usuario.perfil.time.escudo}"/>
                            <spam th:text="${usuario.perfil.time.nome}"></spam>
                        </article>
                        <article class="apresentacao-itens">
                            <i class="fa fa-at icon icon-arroba" aria-hidden="true"></i> 
                            <spam th:text="${usuario.perfil.email}"></spam>
                        </article>
                        <article class="apresentacao-itens">
                            <i class="fa fa-birthday-cake icon" aria-hidden="true"></i>
                            <spam th:text="${#dates.format(usuario.perfil.dataNascimento, 'dd/MM/yyyy')}"></spam>
                        </article>
                        <article class="apresentacao-itens">
                            <i class="fa fa-venus-mars icon" aria-hidden="true"></i>
                            <spam th:text="${usuario.perfil.sexo.name}"></spam>
                        </article>

                    </section>
                </section>
                <section class="panel panel-default perfil-apresentacao">
                    <header class="panel-heading">
                        <i class="fa fa-group"></i>
                        Amigos&nbsp;· <spam th:text="${usuario.amigos.size()}"></spam>
                    </header>
                    <section class="panel-body">
                        <i th:if="${usuario.amigos.size() == 0}">Nenhum amigo para mostar :(</i>

                        <article class="perfil-amigos-list" th:each="amigo :${usuario.amigos}">
                            <a th:href="@{${'/profile'}(id=${amigo.perfil.id})}">
                                <img class="perfil-img-sq-med" th:src="${amigo.perfil.imagemPerfil}" th:title="${amigo.perfil.nome}"/>
                            </a>
                        </article>

                    </section>
                </section>
            </section>

            <section class="col-md-7 perfil-content">

                <article th:if="${usuario== usuarioLogado}" class="panel panel-default">
                    <section class="panel-body">

                        <form id="upload-file-form">
                            <article class="form-group">
                                <textarea id="txt-post" maxlength="254" required="required" class="form-control post-campo" rows="3" cols="40" placeholder="No que você está pensando?"></textarea>
                            </article>

                            <spam id="upload-file-content" class="col-md-4 col-xs-4 no-padding">
                                <!-- Aqui será renderizado o Btn para upload de imagem via JS/AJAX -->
                            </spam>

                            <a id="btn-postar" disableed="false" class="btn btn-success pull-right btn-active-loading" name="button">
                                <spam id="loading-icon">
                                    <i class="fa fa-spinner loading-icon" aria-hidden="true"></i>
                                    Publicando...
                                </spam>
                                <spam id="txt-button">
                                    <i class="fa fa-paper-plane-o" style="font-size:18px"></i>
                                    Publicar
                                </spam>
                            </a>
                        </form> 

                    </section>
                </article>


                <section class="panel panel-default">
                    <article class="panel-heading">
                        <i class="fa fa-commenting-o"></i> Posts
                        <a id="btn-refresh-posts" class="btn-post-refresh link-style cursor-pointer"> 
                            <i class="pull-right fa fa-refresh" aria-hidden="true"></i>
                        </a>
                    </article>

                    <article id="box-posts">
                        <!-- Aqui será inserido os posts -->
                    </article>

                </section>

            </section>

        </section>



        <footer th:replace="fragments :: footer">

        </footer>
        <script th:src="@{/js/pesquisa.js}"></script>
        <script th:src="@{/js/postagem.js}"></script>
        <script th:src="@{/js/amigo.js}"></script>
    </body>
</html>
