<!DOCTYPE html>

<html>
    <head th:replace="fragments :: head('Facefut - ' +${usuario.perfil.nome})">

    </head>
    <body>
        <style>
            body{
                color: #444;
            }
            .post-img {
                width: 571px;
            }
        </style>
        <nav th:replace="fragments :: navbar">

        </nav>

        <div class="divisor-perfil"></div>
        <!-- Id do usuario logado -->
        <input type="hidden" th:value="${usuario.id}" id="id-usuario" />
        
        <section class="container">
            <section class="col-md-10">
                <section class="block-perfil-heading">

                </section>
            </section>

            <nav class="col-md-10">
                <article class="perfil-tools-heading">
                    <img class="perfil-img perfil-img-lg" th:src="${usuario.perfil.imagemPerfil}"/>
                    <h3 th:text="${usuario.perfil.nome}"></h3>

                    <article style="padding-left: 155px;" class="hidden-xs">
                        <ul class="nav nav-pills">
                            <li role="presentation"><a href="#"><i class="fa fa-group"></i>
                                    <spam class="hidden-sm"> Amigos</spam></a>
                            </li>
                            <li role="presentation"><a href="#"><i class="fa fa-envelope-o"></i> 
                                    <spam class="hidden-sm"> Convites</spam></a>
                            </li>
                            <li role="presentation"><a href="#"><i class="fa fa-commenting-o"></i> 
                                    <spam class="hidden-sm"> Posts</spam></a>
                            </li>
                            <li role="presentation" class="pull-right"><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> 
                                    <spam class="hidden-sm">Configurações</spam></a>
                            </li>
                        </ul>
                    </article>
                </article>
            </nav>

        </section>

        <section class="container perfil-content">
            <section class="col-md-3">
                <section class="perfil-col-content perfil-apresentacao">
                    <header class="panel-heading">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        Apresentação
                        <hr/>
                    </header>
                    <section class="panel-body">
                        <article class="apresentacao-itens">
                            <spam id="spam-num-amigos" class="badge icon" th:text="${usuario.amigos.size()}"></spam> 
                            Amigos
                        </article>
                        <article class="apresentacao-itens">
                            <i class="fa fa-heart icon"></i> 
                            <spam th:text="${usuario.perfil.time.nome}"></spam>
                        </article>
                        <article class="apresentacao-itens">
                            <i class="fa fa-birthday-cake icon" aria-hidden="true"></i>
                            <spam th:text="${#dates.format(usuario.perfil.dataNascimento, 'dd/MM/yyyy')}"></spam>
                        </article>
                        <article class="apresentacao-itens">
                            <i class="fa fa-venus-mars icon" aria-hidden="true"></i>
                            <spam th:text="${usuario.perfil.sexo.name}"></spam>
                        </article>

                    </section>
                </section>
                <section class="perfil-col-content perfil-apresentacao">
                    <header class="panel-heading">
                        <i class="fa fa-group"></i>
                        Amigos&nbsp;· <spam class="perfil-count-amigos" th:text="${usuario.amigos.size()}"></spam>
                        <hr/>
                    </header>
                    <section class="panel-body">
                        <i th:if="${usuario.amigos.size() == 0}">Nenhum amigo para mostar :(</i>
                        
                        <article class="perfil-amigos-list" th:each="amigo :${usuario.amigos}">
                            <a th:href="@{${'/profile'}(id=${amigo.perfil.id})}">
                                <img class="perfil-img-sq-med" th:src="${amigo.perfil.imagemPerfil}" th:title="${amigo.perfil.nome}"/>
                            </a>
                        </article>

                    </section>
                </section>
            </section>

            <section class="col-md-7">

                <article th:if="${usuario== usuarioLogado}" class="panel perfil-col-content">
                    <section class="panel-body">

                        <form id="upload-file-form">
                            <article class="form-group">
                                <textarea id="txt-post" required="required" class="form-control post-campo" rows="3" cols="40" placeholder="No que você está pensando?"></textarea>
                            </article>

                            <spam id="upload-file-content">
                                <!-- Aqui será renderizado o Btn para upload de imagem via JS/AJAX -->
                            </spam>

                            <a id="btn-postar" class="btn btn-success pull-right" name="button">
                                <i class="fa fa-paper-plane-o" style="font-size:18px"></i>
                                Publicar
                            </a>
                        </form> 
                    </section>
                    
                </article>


                <section id="box-posts">
                    <!-- Aqui os posts serão renderizados -->
                </section>

            </section>

        </section>

        <footer th:replace="fragments :: footer">

        </footer>
        <script th:src="@{/js/postagem.js}"></script>
    </body>
</html>
