<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <form id="upload-file-form" enctype="multipart/form-data">
            <label for="upload-file-input">Upload your file:</label>
            <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
        </form>
        
        <!--<img src="file://C:/var/higiene.jpg" alt="sadsd"/>-->
        <img src="imgs//Arthur3X4.png" alt="sdaaasd"/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#upload-file-input").on("change", uploadFile);
            });

            /**
             * Upload the file sending it via Ajax at the Spring Boot server.
             */
            function uploadFile() {
                $.ajax({
                    url: "/uploadFile",
                    type: "POST",
                    data: new FormData($("#upload-file-form")[0]),
                    enctype: 'multipart/form-data',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function () {
                        alert("Foi!!");
                    },
                    error: function () {
                        alert("Algo deu errado!");
                    }
                });
            } // function uploadFile
        </script>
    </body>  
</html>
