/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/12/2016, 12:50:09
    Author     : Arthur
*/
body{
  background-image: url(http://imgview.info/download/20150424/chelsea-stadium-wallpaper-1538x809.jpg);
}
.login-block{
  margin-top: 60px;
}
.login-panel{
  background-color: rgba(235,235,235, 0.7);
}
.login-panel-head h3{
  font-weight: bold;
  color: #444;
}
/* Logo */
.facefut-logo{
  text-align: center;
    color: #EEE;
    font-weight: bold;
}
.facefut-logo-block{
  margin-top: 100px;
}

