/*
    @Author Arthur Lima de Souza
*/

body{
    background-image: url(https://www.futbin.com/design/img/packs/packsbg.jpg?v=133333445);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #FFF;
}
.badge{
    padding: 3px 5px;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    color: #1243ff;
    text-decoration: none;
}
a:hover, a:focus {
    color: #00129c;
    text-decoration: underline;
}
.panel{
    background-color: rgba(53, 53, 53, 0.5);
    border: 0px solid #4c4c4c;
}
.panel-default>.panel-heading {
    color: #f1efef;
    background-color: rgba(68, 68, 68, 0.5);
    border-color: #18bc9c;
}
.navbar{
    border-bottom: 2px solid #15a589;

}
// Ícones

.post-reacoes .icon-amar{
    color: #F00;
}
.post-reacoes .icon-curtir{
    color: #00F;
}
// Botões
.btn-danger:hover{
    background-color: #a90e0e;
    border-color: #a90e0e;
}
.login-block{
    margin-top: 60px;
}
.login-panel{
    background-color: rgba(235,235,235, 0.7);
}
.login-panel-head h3{
    font-weight: bold;
    color: #444;
}
/* Cadastro */
.cadastro-panel{
    background-color: rgba(235,235,235, 0.7);
    margin-top: 60px;
}

/* Logo */
.facefut-logo{
    text-align: center;
    color: #EEE;
    font-weight: bold;
}
.facefut-logo-block{
    margin-top: 100px;
}
/*Panel*/
.panel{
    //box-shadow: 1px 1px 20px #222;
}
/*Posts*/
.post-data{
    font-size: 12px;
    margin-bottom: 2px;
    margin-top:4px;
    color: #ddd;
}
.post-time{
    color: #ddd;
    font-size: 13.5px;
    margin-bottom: 10px;
    margin-right: 2px
}
.post-txt{
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}
.post-content-reacoes{
    margin-top: 15px;
}
.post-reacoes{
    margin-right: 10px;
}
.post-img{
    width: 456px;
}
.post-content{
    padding-right: 0px; 
    border-bottom: 1px solid #888888;
}
header .post-autor-img{
    padding: 0; width: 12.666667%;
}
header .post-autor-info{
    padding: 0;
    margin-top: 5px;
}
header .post-autor-nome{
    font-size: 12pt;
}

/* Btns */
.btn-post-refresh{
    color: #FFF;
    text-decoration: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}
.link-style{
    color: #FFF;
}
.link-style:hover{
    color: #FFF;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);;
}
.link-style:link{
    color: #FFF;
    text-decoration: none;
}
.link-style:focus{
    color: #FFF;
}

/* Home */
.divisor{
    height: 80px;
}
.post-campo{
    resize: none;
}
/*Amigo busca*/
.amigo-busca{
    padding: 11px;
    display: inline-block;
}
.btn-adicionar{
    margin-top: 6px;
    padding: 3px 18px;
}
.amigo-alert-basic{
    background-color: #969696;
    border-color: #808080;
}
.btn-amigo-refresh{
    margin-right: 5px;
}
.txt-pesquisa{
    display: inline-block;
    width: 85%;
}
/* Solicitações de amizade */
.btn-solicitacao{
    margin-top: 8px;
    margin-right: 0px;
    padding: 4px 5px 4px 5px;
}
/*Perfil*/
.block-perfil{
    padding: 0px;
}
.block-info-perfil{
    padding-left: 16px;
}
.block-perfil-nome{
    margin-bottom: 8px;
}
.block-perfil-info-adc{
    margin-bottom: 4px;
}
.perfil-img{
    border: 2px solid #969696;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #353535;
}
.perfil-img-min{
    height: 50px;
    width: 50px;
}
.perfil-img-sq-med{
    height: 67px;
    width: 67px;
}
.perfil-img-med{
    width: 95px;
    height: 97px;
}
.perfil-img-lg{
    border: 2px solid #18bc9c;
    box-shadow: 0px 0px 15px #464646;
    width: 150px;
    height: 150px;
}
/* -- Tela de Perfil -- */
.block-perfil-heading{
    background-image: url(https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/15578666_1302103556514343_6474261687287703631_n.jpg?oh=8119ce92561d660207d12bfde4cd059c&oe=591C4D4B);
    background-position-x: center;
    background-position-y: center;
    height: 260px;
}
.divisor-perfil{
    margin-top: 61px;
}
.perfil-tools-heading{
    padding: 5px;
    border: 2px solid #DDD;
    border-top: 0px;
    box-shadow: 1px 1px 8px #777;
    border-radius: 0px 0px 5px 5px;
    background-color: #FFF;
}
.perfil-tools-heading a{
    color: #6d6d6d;
}
.perfil-tools-heading img{
    position: absolute;
    bottom: 10px;
    left: 32px;
}
.perfil-tools-heading h3{
    color: #FFF;
    position: absolute;
    bottom: 50px;
    left: 194px;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #000;
}
.perfil-col-content{
    padding: 0;
    background-color: #FFF;
    border: 2px solid #DDD;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #777;
}
.perfil-apresentacao{
    margin-bottom: 10px;
}
.perfil-apresentacao .panel-body{
    padding-top: 0px;
}
.perfil-posts .panel-body{
    padding: 15px;
}
.apresentacao-itens{
    margin-bottom: 4px;
}
.apresentacao-itens i{
    font-size: 12pt;
}
.apresentacao-itens .icon{ 
    margin-right: 3px;
}
.perfil-posts{
    margin-bottom: 10px;
}
.perfil-content{
    margin-top: 10px;
}
.post-info-perfil{
    color: #777;
}
.link-perfil{
    color: #444;
}
.link-perfil:hover{
    color: #000;
}
.perfil-amigos-list{
    margin: 2px;
    display: inline-block;
}
.perfil-count-amigos{
    font-size: 10pt;
    color: #989898;
}

/* Cadastro */
.cadastro-label-file{
    font-size: 12pt;
    color: #FFF;
    text-shadow: 0px 0px 7px #000;
}
.cadastro-input-file{
    color: #FFF;
    text-shadow: 1px 1px 10px #000;
}

/* Input File Style */
.file-upload {
    position: relative;
    overflow: hidden;
    border-radius: 3px !important;
    border:none !important;
    box-shadow: none !important;
    text-shadow:none;
    padding: 5px 10px !important;
    display: inline-block;
    vertical-align: middle;
}

.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#fileuploadurl{
    color: #FFF;
    text-shadow: 0px 0px 5px #000;
    display: inline-block;
    border:none;
    vertical-align: middle;
    background: none;
    box-shadow: none;
    font-size: 13px;
    padding-left: 0;
    width:220px;
    padding-right: 0;
}
