/* 
    @Author Arthur Lima de Souza 
*/

body{
    background-image: url(https://www.futbin.com/design/img/packs/packsbg.jpg?v=133333445);
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #FFF;
}
a {
    color: #1243ff;
    text-decoration: none;
}
a:hover, a:focus {
    color: #00129c;
    text-decoration: underline;
}
.panel{
    background-color: rgba(53, 53, 53, 0.5);
    border: 0px solid #4c4c4c;
}
.panel-default>.panel-heading {
    color: #f1efef;
    background-color: rgba(68, 68, 68, 0.5);
    border-color: #18bc9c;
}
.navbar{
    border-bottom: 2px solid #15a589;

}
// Botões
.btn-danger:hover{
    background-color: #a90e0e;
    border-color: #a90e0e;
}
.login-block{
    margin-top: 60px;
}
.login-panel{
    background-color: rgba(235,235,235, 0.7);
}
.login-panel-head h3{
    font-weight: bold;
    color: #444;
}
/* Cadastro */
.cadastro-panel{
    background-color: rgba(235,235,235, 0.7);
    margin-top: 60px; 
}

/* Logo */
.facefut-logo{
    text-align: center;
    color: #EEE;
    font-weight: bold;
}
.facefut-logo-block{
    margin-top: 100px;
}
/*Panel*/
.panel{
    //box-shadow: 1px 1px 20px #222;
}
/*Posts*/
.post-data{
    margin-bottom: 2px;
    margin-top:4px;
    color: #ddd;
    font-size: 13.5px;
}
.post-time{
    color: #ddd;
    font-size: 13.5px;
    margin-bottom: 10px;
}
.post-txt{
    padding-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
}
/* Btns */
.btn-post-refresh{
    color: #FFF;
    text-decoration: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out; 
}
.btn-amigo-refresh:hover{
    color: #FFF;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);;
}
.btn-post-refresh:link{
    color: #FFF;
    text-decoration: none; 
}
.btn-amigo-refresh:focus{
    color: #FFF;
}

/* Home */
.divisor{
    height: 80px;
}
.post-campo{
    resize: none;
}
/*Amigo busca*/
.amigo-busca{
    padding: 11px;
    display: inline-block;
}
.btn-adicionar{
    margin-top: 6px;
    padding: 3px 18px;
}
.amigo-alert-basic{
    background-color: #969696;
    border-color: #808080;
}
.btn-amigo-refresh{
    margin-right: 5px;
}
.txt-pesquisa{
    display: inline-block;
    width: 85%;
}
/* Solicitações de amizade */
.btn-solicitacao{
    margin-top: 8px;
    margin-right: 0px;
    padding: 4px 5px 4px 5px;
}
/*Perfil*/
.block-perfil{
    padding: 0px;
}
.block-info-perfil{
    padding-left: 16px;
}
.block-perfil-nome{
    margin-bottom: 8px;
}
.block-perfil-info-adc{
    margin-bottom: 4px;
}
.perfil-img{
    border: 2px solid #969696;
    border-radius: 100%;
    box-shadow: 1px 1px 5px #353535;
}
.perfil-img-min{
    height: 50px;
    width: 50px;
}
.perfil-img-med{
    width: 95px; 
    height: 97px;
}

/* Cadastro */
.cadastro-label-file{
    font-size: 12pt;
    color: #FFF;
    text-shadow: 0px 0px 7px #000;
}
.cadastro-input-file{
    color: #FFF;
    text-shadow: 1px 1px 10px #000;
}


